{% extends 'base.html' %}
{% block content %}
<!-- Change password -->
{% if error %}
<!-- if some input is missing or incorrect -->
{{error}}
<br>
{% endif %}
<h1>Login </h1><br>
<form method="POST" action="{%url 'password'%}">
{%csrf_token%}
Old password:<br>
<input type="password" name="old">
<br>
New password:<br>
<input type="password" name="password1">
<br>
Confirm new password:<br>
<input type="password" name="password2">
<br><br>
<input class = "btn btn-primary"type="submit" value="Change password">
<br><br>
</form>
{%endblock%}