{% extends "base.html" %}
{%load staticfiles  %}
{% block content %}
<!-- Your profile page -->
<br>
<div class="row">
    <div class="col-md-3">
        <img src="{%static 'images/user-default.png'%}" width=200 class="img-fluid img-thumbnail ">
    </div>
    <!-- e-mail,address,city,country -->
    <div class="col-md-3">
        <div class="row pl-3">
        <h3>Your profile</h3>
        <a class ="pl-3" href="{%url 'settings' %}"><span class="oi oi-pencil"></span></a>
        </div>
        <p class="pt-1"><b>E-mail:</b> {{profile.user.email}}</p>
        {% if profile.address %}
        <p ><b>Address:</b> {{profile.address}}</p>
        {% endif %}
        {% if profile.city %}
        <p ><b>City:</b> {{profile.city}}</p>
        {% endif %}
        {% if profile.country %}
        <p ><b>Country:</b> {{profile.country}}</p>
        {% endif %}
    </div>
    <!-- profile bio -->
    <div class="col-md-6">
        {% if profile.bio %}
        <b>Bio:</b>
        <p>{{profile.bio}}</p>
        {% endif %}
    </div>
</div>
<hr><br>
<!-- list of products added by you -->
<div class="row">
{% for product in products %}
    <div class ="col-md-4  ">
        <div class="img-thumbnail ">
        <div class="text-center " >
        <a href="{%url 'detail' product.slug product.id%}"> 
            <img src="{{product.image.url}}" class="img-fluid" style="height:240px" >
        </a>
        </div>
         <div class="row pt-1">
            <div class="col-8 ">
                <a href="{%url 'detail' product.slug product.id%}"><h4>{{product.title}}</h4></a>
                <p>Category: <a href="{%url 'category' product.category.slug%}">{{product.category}}</a></p>
            </div>
            <div class="col-4 text-right">
                <h4>{{product.price}} $</h4>
                <p>{{product.pub_date_preety}}</p>
            </div>
        </div>
        </div>
    </div>
    
{% endfor %}
</div><hr>
<!-- pagination -->
<div class="pagination">
    <span class="step-links mx-auto">
    {% if products.has_previous %}
        <a href="?page=1"><span class="oi oi-chevron-left"></span><span class="oi oi-chevron-left"></span></a>
        <a href="?page={{products.previous_page_number}}"><span class="oi oi-arrow-left"></span></a>
    {% endif %}
        <span class="current">
            page {{products.number}} of {{products.paginator.num_pages}}
        </span>
    {% if products.has_next %}
        <a href="?page={{products.next_page_number}}"><span class="oi oi-arrow-right"></span></a>
        <a href="?page={{products.paginator.num_pages}}"><span class="oi oi-chevron-right"></span><span class="oi oi-chevron-right"></span></a>
    {% endif %}
    </span>
</div>     
<br>     
{% endblock content %}  
 
