{% extends "base.html" %}
{% block content %}
<!--Search page to display all search results-->
<h1>You searched for: "{{search_input}}"</h1><br><br>
<!--Search content-->
{% for product in products %}
<div class="img-thumbnail">
<div class="row">
    
    <div class ="col-4 text-center">
        <a href="{%url 'detail' product.slug product.id%}"> 
            <img src="{{product.image.url}}" class="img-fluid img-thumbnail" style="height:240px">
        </a>
    </div>
    <div class="col-5">
        <a href="{%url 'detail' product.slug product.id%}"><h2>{{product.title}}</h2></a><br>
        <p>Seller: <a href="{% url 'userpage' product.profile.slug%}">{{product.profile.user}}</a></p>
        <p>Category: <a href="{%url 'category' product.category.slug%}">{{product.category}}</a></p>
    </div>
    <div class="col-3 text-right pt-1">
        <h4>Price: {{product.price}} $</h4><br>
        <p>Published on {{product.pub_date_preety}}</p>
    </div>
</div>
</div><br>
{% endfor %}
<hr>
<!--Pagination-->
<div class="pagination">
    <span class="step-links mx-auto">
        <!--"&" added for pagination search-->
        {% if products.has_previous %}
            <a href="?page=1&q={{search_input}}"><span class="oi oi-chevron-left"></span><span class="oi oi-chevron-left"></span></a>
            <a href="?page={{products.previous_page_number}}&q={{search_input}}"> <span class="oi oi-arrow-left"></span></a>
        {% endif %}
        <span class="current ">
            page {{products.number}} of {{products.paginator.num_pages}}
        </span>
        {% if products.has_next %}
            <a href="?page={{products.next_page_number}}&q={{search_input}}"><span class="oi oi-arrow-right"></span></a>
            <a href="?page={{products.paginator.num_pages}}&q={{search_input}}"><span class="oi oi-chevron-right"></span><span class="oi oi-chevron-right"></span></a>
        {% endif %}
    </span>
</div><br>

{% endblock content %}

