{% extends "base.html" %}
{% block content %}

<h1>You searched for: "{{search_input}}"</h1><br>
<div class="row">
{% for product in products %}
    <div class ="col-4  ">
        <a href="{%url 'detail' product.slug product.id%}"> 
            <img src="{{product.image.url}}" class="img-fluid" >
        </a>
         <div class="row pt-1">
            <div class="col-8">
                <a href="{%url 'detail' product.slug product.id%}"><h4>{{product.title}}</h4></a>
                <p>Seller: <a href="{% url 'userpage' product.profile.slug%}">{{product.profile.user}}</a></p>
            </div>
            <div class="col-4 text-right">
                <h4>{{product.price}} $</h4>
                <p>{{product.pub_date_preety}}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<hr>
<div class="pagination">
    <span class="step-links mx-auto">
        <!--"&" added for pagination search-->
        {% if products.has_previous %}
            <a href="?page=1&q={{search_input}}"><span class="oi oi-chevron-left"></span><span class="oi oi-chevron-left"></span></a>
            <a href="?page={{products.previous_page_number}}&q={{search_input}}"> <span class="oi oi-arrow-left"></span></a>
        {% endif %}
        <span class="current ">
            page {{products.number}} of {{products.paginator.num_pages}}
        </span>
        {% if products.has_next %}
            <a href="?page={{products.next_page_number}}&q={{search_input}}"><span class="oi oi-arrow-right"></span></a>
            <a href="?page={{products.paginator.num_pages}}&q={{search_input}}"><span class="oi oi-chevron-right"></span><span class="oi oi-chevron-right"></span></a>
        {% endif %}
    </span>
</div>  

{% endblock content %}

